.conatiner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../asset/img/4380885.jpg');
  background-size: cover;        
  background-position: center;     
  min-height: 100vh;             
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}